<%
function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function (key) {

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}
%>
<div class="col-md-6 col-lg-4 pizza-card">
    <div class="thumbnail">
        <img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">
        <% if(pizza.is_new) { %>
        <h3 class="pizza-label-new"><span class="label label-danger">Нова</span></h3>
        <% } else if(pizza.is_popular) { %>
        <h3 class="pizza-label-popular"><span class="label label-success">Популярна</span></h3>
        <% } %>

        <div class="caption">
            <span class="title"><%= pizza.title %></span>
            <div class="pizza_type"><%= pizza.type %></div>
            <div class="description">
                <%= getIngredientsArray(pizza).join(", ") %>
            </div>
        </div>

        <!-- Перед тим щоб показати кнопку необхідно переконатися, що піца має великий розмір -->
        <div class="row">
            <% if(pizza.small_size && pizza.big_size){ %>
            <div class="col-sm-6">
                <div>
                    <img class="ui right spaced avatar image" src="assets/images/size-icon.svg">
                    <span class="diagonal"><%= pizza.small_size.size %></span>
                </div>
                <div>
                    <img class="ui right spaced avatar image" src="assets/images/weight.svg">
                    <span class="gram"><%= pizza.small_size.weight %></span>
                </div>
                <div class="price"><%= pizza.small_size.price %></div>
                <div class="grn">грн.</div>
                <div class="btn btn-warning buy-small">Купити</div>
            </div>
            <div class="col-sm-6 ">
                <div>
                    <img class="ui right spaced avatar image" src="assets/images/size-icon.svg">
                    <span class="diagonal"><%= pizza.big_size.size %></span>
                </div>
                <div>
                    <img class="ui right spaced avatar image" src="assets/images/weight.svg">
                    <span class="gram"><%= pizza.big_size.weight %></span>
                </div>
                <div class="price"><%= pizza.big_size.price %></div>
                <div class="grn">грн.</div>
                <div class="btn btn-warning buy-big">Купити</div>
            </div>

            <% } else if(pizza.small_size){ %>
            <div class="col-sm-12">
                <div>
                    <img class="ui right spaced avatar image" src="assets/images/size-icon.svg">
                    <span class="diagonal"><%= pizza.small_size.size %></span>
                </div>
                <div>
                    <img class="ui right spaced avatar image" src="assets/images/weight.svg">
                    <span class="gram"><%= pizza.small_size.weight %></span>
                </div>
                <div class="price"><%= pizza.small_size.price %></div>
                <div class="grn">грн.</div>
                <div class="btn btn-warning buy-small">Купити</div>
            </div>


            <% } else if(pizza.big_size){ %>
            <div class="col-sm-12">
                <div>
                    <img class="ui right spaced avatar image" src="assets/images/size-icon.svg">
                    <span class="diagonal"><%= pizza.big_size.size %></span>
                </div>
                <div>
                    <img class="ui right spaced avatar image" src="assets/images/weight.svg">
                    <span class="gram"><%= pizza.big_size.weight %></span>
                </div>
                <div class="price"><%= pizza.big_size.price %></div>
                <div class="grn">грн.</div>
                <div class="btn btn-warning buy-big">Купити</div>
            </div>
            <% } %>
        </div>

    </div>
</div>


